section.styleshow{
	min-height: calc( 100vh - 440px );
}
section.styleshow .article-history{
	width: 100%;
	/*background-color: rgba(240,240,240,.5);*/
	padding:0 20px;
}
section.styleshow .article-history .history-title{
	width: 100%;
	font-size: 14px;
	padding:20px 10px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	text-transform:uppercase;
	color:rgba(255,200,207,1);
}
/*section.styleshow .article-history .history-title:nth-of-type(n+2){
	border-top: 1px solid #ddd;
}*/
section.styleshow .article-history .history-pass,section.styleshow .article-history .history-index,section.styleshow .article-history .history-top{
	font-size: 12px;
	padding: 20px 0;
}
section.styleshow .article-history .history-pass .history-img{
	margin-right: -15px;
	overflow: hidden;
}
section.styleshow .article-history .history-pass .history-img .history-img-box{
	width: 100%;
	height: 0px;
	padding-top: 70%;
	position: relative;
	overflow: hidden;	
}
section.styleshow .article-history .history-pass .history-img .history-img-box img{
	position: absolute;
	height: auto;
	max-height: 100%;
	top:0;
	left: 0;
}
section.styleshow .article-history .history-index a,section.styleshow .article-history .history-top a{
	text-decoration: none;
	color:rgba(0,0,0,1);
	display: inline-block;
	padding: 2px 10px;
}
section.styleshow .article-history .history-content .content-box > a{
	text-decoration: none;
	color:rgba(0,0,0,1);
	display: inline-block;
	line-height: 14px;
}
section.styleshow .article-history .history-content .content-box{
	position: absolute;
    top: 0;
}
section.styleshow .article-history .history-content .content-box .history-content-time{
	font-size: 12px;
	font-weight: 100;
	transform: scale(0.8);
    transform-origin: 0 center;
    color:#bbb;
}

section.styleshow .style-box{
	margin-bottom: 50px;
}

section.styleshow .style-img{
	width: 100%;
	position: relative;
}
section.styleshow .style-img .style-img-box{
	width: 100%;
	padding-top: 50%;
	height: 0;
	overflow: hidden;
	position: relative;
}
.style-hover-box{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	opacity: 0;
}
.style-hover-box > .style-hover-box-inner {
	width: 90%;
	height: 90%;
	position: absolute;
	top: 5%;
	left: 5%;
	color:#fff;
	display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.style-hover-box .lineUp,.style-hover-box .lineDown{
	width: 0%;
	height: 1px;
	background-color: #ddd;
	position: absolute;
}
.style-hover-box .lineUp{
	top: 0;
}
.style-hover-box .lineDown{
	bottom: 0;
}
.style-hover-box .lineRight,.style-hover-box .lineLeft{
	width: 1px;
	height: 0%;
	background-color: #ddd;
	position: absolute;
}
.style-hover-box .lineRight{
	right: 0;
}
.style-hover-box .lineLeft{
	left: 0;
}
section.styleshow .style-img .style-img-box img{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
section.styleshow .style-content{
	overflow: hidden;
}
section.styleshow .style-content .title{
	font-size:14px;
}
section.styleshow .style-content .subtitle{
	text-transform:uppercase;
	transform: scale(.8);
    transform-origin: 0 center;
    color:#bbb;
}
section.styleshow .style-content  a{
	text-decoration: none;
	color:rgba(255,200,207,1);
	transition: .3s;
}
section.styleshow .style-content  a:hover{
	color:rgba(255,200,207,.5);
}
.article-tag > a{
	background-color: #f67f90;
	color:#f9eaed;
	padding: 2px 5px;
}
/*styles-detail.php*/
.title-detail{
	font-size: 18px;
	font-weight: 400;
	margin: 15px 0;
}
.subtitle-detail{
	text-align: center;
	transform: scale(1)!important;
	transform-origin: center !important;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 5px 0;
	margin-bottom: 10px;
}
.article{
	letter-spacing: 2px;
    line-height: 30px;
    font-size: 14px;
}
.article span{
	font-size: 14px !important;
}

