/* @override 
	http://test_tgilive.neplus.com.tw/css/cart.css */
.purchase {
	margin-top: 100px;
	min-height: calc( 100vh - 288px );
}
.cartMenu {
	margin: 60px auto 20px auto;
}
.cartMenu .step {
	height: 50px;
	border-left: 1px solid #fff;
	background-color:#FDC5CD;
	text-align: center;
}
.cartMenu .step.active {
	background-color: #f67f90;
}
.cartMenu .step  li {
	color: #fff;
	display: block;
	line-height: 30px;
	font-size: 16px;
	padding: 10px;
	font-weight: 100;
}
.cartMenu .step li:hover {
	color: #fff;
	text-decoration: none;
}
.purchase table a {
	color: #e08295;
}
.purchase table a:hover {
	color: #FDC5CD;
	text-decoration: none;
}
.purchase  .form-control-sm {
	border-color: #ccc;
	border-radius: 0;
	-moz-box-shadow:    inset  0 0 3px 1px #eee;
	-webkit-box-shadow:  inset  0 0 3px 1px #eee;
	 box-shadow:   inset  0 0 3px 1px #eee;
}
.purchase h3 {
	margin: 60px 0px 20px 0px;
}
.purchase h4 {
	margin: 60px 0px 20px 0px;
	font-size: 16px;
}
.purchase h5 {
	margin: 20px 0px;
	font-size: 14px;
}

.purchase  .col-form-label {
	font-size: 14px;
}

.purchase  .form_note {
	color: #999;
	display: block;
	padding: 5px;
}

.purchase  .form-check {
	margin-top: 20px;
	margin-left: 20px;
}
.purchase  .form-check-label {
	padding-left: 0px;
}
.purchase .btn.submitBtn {
	margin: 30px auto 0px;
	padding: 2px 15px;
	font-weight: 300;
}

.purchase .cancelOrderBtn{
	background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.purchase table.orderFinal {
	margin-top: 20px;
}

.purchase table.orderFinal thead th{
	border: none;
}
.purchase table.orderFinal th {
	border-top:	none;
	font-weight: 100;
}
.purchase table.orderFinal .sum-row{
	border-top:	1px solid #e9ecef;
	font-weight: 100;
	text-align: left;
}


.forgetPass {
	margin-top: 5px;
	display: block;
}
.loginPanel ,.purchase .checkMember .firstShop{
	border: 2px solid rgba(255,200,207,1);
	background-color: rgba(255,200,207,0);
	padding: 20px;
	min-height: 250px;
}
.loginPanel  button ,.purchase .checkMember .firstShop  button{
	background-color: #FDC5CD;
    border-color: #FDC5CD;
    color:#fff;
    transition: .3s;
    cursor: pointer;
}
.loginPanel  button:hover ,.purchase .checkMember .firstShop  button:hover{
	background-color: #fff;
	color:#FDC5CD;
	border-color:#FDC5CD;
}
.loginPanel  button:focus ,.purchase .checkMember .firstShop  button:focus{
	box-shadow:none;
}

.purchase .checkMember .firstShop #firstShopTitle,.purchase .checkMember .loginPanel #loginTitle{
	font-size: 18px;
}
.purchase .checkMember .firstShop .firstShopInfo{
	margin: 50px 0;
}
.loginPanel  button:not([disabled]):not(.disabled):active ,.purchase .checkMember .firstShop  button:not([disabled]):not(.disabled):active{
	background-color: #fff;
	color:#FDC5CD;
	border-color:#FDC5CD;
	box-shadow:none;
}
.purchase .checkMember .firstShop{
	border-right :transparent;
}
.purchase .orderCharge{
	position: relative;
}
.purchase .orderCharge .couponDiscountShow{
	position: absolute;
	padding: 5px;
	background-color: rgba(255,200,207,1);
	color:#fff;
	transform: scale(0.8);
    left: 5px;
    top: 40px;
    bottom: 0;
    margin: auto;
    height: 28px;
}
.purchase tr.coupon span.couponUseName{
	padding: 5px;
	background-color: rgba(255,200,207,1);
	color:#fff;
}
#cart #orderInfoTable{
	border-bottom:2px double #666;
	margin-bottom: 10px;
}
.purchase .leftBlock{
	text-align: left;
	font-weight: 100;
}
.purchase .leftBlock img{
	max-width: 400px;
	width: 100%;
}
.purchase .rightBlock{
	text-align: right;
	padding: 20px;
}
.purchase .rightBlock #TotalPrice{
	color: #c10c0c;
}
/*
.purchase tr#cargoTR td {
	padding: 10px 5px 5px 5px; 
}
.purchase tr#totalPriceTR td {
	padding: 2px 2px 10px 2px; 
}
.purchase tr#cargoTR{
	border-top:2px double #666;
	text-align: right;
	font-weight: 100;
	background-color: #fff;
}
.purchase tr#totalPriceTR{
	text-align: right;
	font-weight: 100;
	background: #fff;
}
.purchase tr#totalPriceTR > td{
	border-top: none;
	color: #c10c0c;
}
*/
.purchase .invoiceInfo{
	background-color: #eee;
	padding: 10px;
}
.purchase .invoiceInfo .form-group .col-form-label{
	font-size: 12px;
}
.purchase .installInfo{
	background-color: #eee;
	padding: 10px;
}
.purchase .installInfo .form-group .col-form-label{
	font-size: 12px;
}
.purchase .installInfo .form-group .bankslist{
	width: 100%;background: #fff;padding: 8px;
}


/*payment.php*/
.purchase .purchase_area{
	width: 100%;
}
.purchase .purchase_area #keepShop{
	background-color: #e08295;
    border-color: #e08295;
    color: #ffffff;
    transition: .8s;
}
.purchase .purchase_area #checkOrderList{
	background-color: #ffffff;
    color: #e08295;
    border-radius: 0px;
}
.purchase .purchase_area #keepShop:hover,.purchase .purchase_area #checkOrderList:hover{
	background-color: #f2c3cd;
    border-color: #f2c3cd;
    color: #ffffff;
    transition: .8s;
}

.loginPanel .col-form-label{
	color: #888;
}

tr.tr-rwd{
	display: none;
}
.order-rwd{
	display: none;
}
.orderNmae-rwd{
	display: none;
}
.orignPrice, .orderCharge{
	min-width: 90px;
}