/* @override 
	http://test_tgilive.neplus.com.tw/css/product.css */

/*產品分頁共用*/
.mb-30{
	margin-bottom: 30px;
}
.mt-65{
	margin-top: 65px;
}
section.productshow,section.productDetailShow{
	margin-top: 100px;
}
section.productDetailShow .container{
	overflow: hidden;
}

section.productshow h6{
	background-color: rgba(255,200,207,1);
	color:#fff;
    padding: 5px;
    text-align: center;
}
section.productshow .hover_img{
	display: none;
}
.sidebar{
	margin-bottom: 50px;
}

.sidebar a {
	color: #666;
	letter-spacing: 1px;
	line-height: 20px;
	display: block;
	border-bottom: 1px solid #f6f6f6;
	padding: 5px;
}

.sidebar_block .sidebar_title{
	font-size: 14px;
	color: #ffffff;
	background-color: #FDC5CD;
	font-weight: 100;
	padding: 0px 5px;
}
.sidebar_block .sidebar_desc{
	margin-top: 20px;
}
.sidebar_block .form-check-label{
	margin-bottom: 5px;
	color: #666666;
	letter-spacing: 2px;
}
.product-content-box{
	min-height: 100vh;
	margin-bottom: 30px;
}
.promotBox > a{
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0;
	padding: 10px 5px;
}
/*hover*/
section.productshow .product-list:hover .block ,section.productDetailShow .product-list:hover .block{
	opacity: 1;
}
section.productshow .product-list:hover .content-hover .price,section.productDetailShow .product-list:hover .content-hover .price{
	bottom: 0;
}
section.productshow .product-list:hover .content-hover > img,section.productDetailShow .product-list:hover .content-hover > img{
	-webkit-transform: scale3d(1.1, 1.1, 1);
          	transform: scale3d(1.1, 1.1, 1);
    /*transform: rotateY(180deg);      	*/
}
/*brands.php*/
section.productshow .brand-list{
	cursor: pointer;
}
.productshow .brand-banner {
	height: 45vh;
	background-size: cover !important;
	position: relative;
}
.productshow .brand-info{
	text-align: center;
	display: block;
	width: 80%;
	padding: 10px;
	margin: 0 auto 20px;
}
.productshow .brand-info img {
	width: 180px;
}
.productshow .brand-info h4 {
	font-size: 14px;
	letter-spacing: 2px;
	color:#e58c9d;
}
.shop_grid_product_area {
	min-height: 100vh;
	margin-bottom: 30px;
}
/*product-detail.php*/
section.productDetailShow .slider-for{
	margin-bottom: 10px;
}
section.productDetailShow .slider-for .slick-slide{
	margin:0;
}
section.productDetailShow .slider-nav .slick-slide{
	margin:0 5px;
	opacity: .5;
}
section.productDetailShow .slider-nav .slick-current{
	opacity: 1;
	transition: 1s;
}
/*section.productDetailShow .slider-nav .slick-prev ,section.productDetailShow .productRelateBox .slick-prev{
	background-color:rgba(0,0,0,.5);
	height: 100%;
    left: 0px;
    z-index: 1;
}*/
section.productDetailShow .slider-nav .slick-prev ,section.productDetailShow .productRelateBox .slick-prev{
	width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    left: 0px;
    z-index: 1;
}
section.productDetailShow .slider-nav .slick-next,section.productDetailShow .productRelateBox .slick-next{
	width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    right: 0px;
    z-index: 1;
}
section.productDetailShow .slider-nav .slick-next svg,section.productDetailShow .slider-nav .slick-prev svg,section.productDetailShow .productRelateBox .slick-next svg,section.productDetailShow .productRelateBox .slick-prev svg{
	position: absolute;
    bottom: 0;
    fill-opacity: .3;
}

section.productDetailShow .promote{
	color:#f00;
}
section.productDetailShow .old-price{
	text-decoration: line-through;
	padding-top: calc(.375rem + 1px);
   /* padding-bottom: calc(.375rem + 1px);*/
    margin-bottom: 0;
    line-height: 1.5;
    color: #999;
}
section.productDetailShow .new-price{
	color: #db1313;
	padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 16px;
}

section.productDetailShow .pay-install .price {
    color: #e08295;
    font-size: 18px;
    line-height: 28px;
}
section.productDetailShow .pay-install li{
  list-style-type:none;
}
section.productDetailShow .pay-install-note {
    border: #ccc 1px solid;
    padding: 15px;
}
section.productDetailShow .pay-install-note .note {
    border-bottom: #ccc 1px solid;
	padding-bottom: 10px;
}
section.productDetailShow .pay-install-note .title {
    color: #e08295;
    font-size: 18px;
    line-height: 40px;
}
section.productDetailShow .pay-install-note .banks {
	
}

section.productDetailShow .box{
	width: 100%;
	height: 100vh;
	background-color: #ccc;
	margin: 50px 0 ;
}
.purchase_area{
	display: flex;	
	width: 80%;
	padding:15px;
}
.purchase_area a[role="button"]{
	border-radius:0px;
	width: 100%;
	padding: 5px 5px;
	border: none;
	letter-spacing: 1px;
	margin: 0px 5px 0px 0px;
	border: 1px solid #e08295;
}

.purchase_area #addToCart{
	background-color: #e08295;
	border-color: #e08295;
	color: #ffffff;
	transition: .8s;
	cursor: pointer;
}
.purchase_area #addToCartAndgoPayment{
	background-color: #ffffff;
	color: #e08295;
	border-radius:0px;
	cursor: pointer;
}
#addToCart:hover, #addToCartAndgoPayment:hover{
	background-color: #f2c3cd;
	border-color: #f2c3cd;
	color: #ffffff;
	transition: .8s;
}
section.productDetailShow  .product_content{
	padding: 50px 30px 30px 30px;
	color: #333333;
}
section.productDetailShow .product_content .title{
	font-size: 14px;
	color: #ffffff;
	background-color: #FDC5CD;
	font-weight: 100;
	padding: 5px;
}

section.productDetailShow .product_content p{
	font-size: 12px;
	line-height: 2.5;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
section.productDetailShow .product_content ul,section.productDetailShow .product_content ol  {
	padding-left: 0px;
	margin: 20px 0px;
}
.product_content ol li{
	list-style-type:decimal;
}
.product_content ul li{
	list-style-type:circle;
}
section.productDetailShow .product_content li{
	margin: 10px 0px;
}
section.productDetailShow .product_describe{
	line-height: 2;
	color: #666666;
}
section.productDetailShow .single_product_desc{
	padding-top: 50px;
}
section.productDetailShow .product_spec{
	min-height: 100px;
	position: relative;
	width: 100%;
}

section.productDetailShow .qty{
	width: 100px;
}
.input-group-addon{
	font-size:12px;
}
section.productDetailShow .form-inline .input-group{
	width: 120px;
}
section.productDetailShow .relateProduct h5{
	border-bottom: 1px solid #FDC5CD;
    padding: 10px 0;
    color :#FDC5CD;
    font-size: 16px;
    letter-spacing: 10px;
}


/* 加購價 */
.comporducts {
	padding: 5px;
}
/* .comporducts .comporductsTitle{
	background-color: rgba(224, 130, 149,.5)!important;
} */
.comporducts:hover > div{
	box-shadow: 0px 0px 30px rgba(224, 130, 149,.2) inset;
}
.comporducts > div{
	transition: .3s;
	padding:5px;
	border:1px solid rgba(224, 130, 149,.3);
}
.comporducts .comporductsItem-select{
	width: 20px;
}
.comporducts .comporductsItem-img{
	width: 70px;
	height: 70px;
}
.comporducts .comporductsItem-option{
	width: 60px;
}
.comporducts .comporductsItem-desc{
	width: calc(100% - 90px);
    overflow: hidden;
    padding: 0 5px 0 15px;
}
.comporducts .comporductsItem-desc.comporductsItem-withOption{
	width: calc(100% - 90px - 60px);
}
