
@media screen and ( max-width: 1150px ){
	#mainNav .navbar-nav .nav-link{
		padding: 0px 10px;
	}
	header input.form-control.searchAll {
		width: 165px;	
	}
} 

/*導覽列*/
@media screen and ( min-width :992px ){
	header .brandHoverAct:hover > .brandHover{
		visibility: visible;
	    opacity: 1;
	    top: 90px;
	}
	header .brandHoverAct:hover > a{
		background-color: #FDC5CD;
	    color: #ffffff;
	    font-weight: 100;
	}
	#mainNav .navbar-nav .nav-item:hover > .nav-link{
		background-color: #FDC5CD;
		color: #ffffff;
		font-weight: 100;
		border-radius:20px;
	}
	/*共用*/
	a:hover {
		text-decoration: none;
		color: #FDC5CD;
	}
	.product-items:hover .block{
		opacity: 1;
	}
	.product-items:hover .content-hover .price {
		bottom: 0;
	}
	.product-items:hover .content-hover > img {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	/*文章style.php*/
	section.styleshow .style-content .article-tag > a:hover{
		color:#fff;
	}
	section.styleshow .style-img .style-img-box:hover .style-hover-box,.history-img-box:hover .style-hover-box{
		opacity: 1;
		transition: .5s;
	}
	.style-img-box:hover .lineUp,.style-img-box:hover .lineDown,.history-img-box:hover .lineUp,.history-img-box:hover .lineDown{
		width: 100%;
		transition: .5s;
	}
	.style-img-box:hover .lineRight,.style-img-box:hover .lineLeft,.history-img-box:hover .lineRight,.history-img-box:hover .lineLeft{
		height: 100%;
		transition: .5s;
	}

	/*activity.php*/
	.readMore:hover .readMore-box{
		background-color: rgba(255,200,207,.3);
		color:rgba(255,200,207,1);
		font-weight: 700;
		position: .5s;
	}
	.readMore:hover .lineUp,.readMore:hover .lineDown{
		width: 80%;
		transition: .5s;
	}
	.readMore:hover .lineRight,.readMore:hover .lineLeft{
		height: 80%;
		transition: .5s;
	}
}

@media screen and ( max-width: 991px){
	/*共用*/
	.content-hover .block{
		position: relative;
		background-color: #fff;
		opacity: 1;
	}
	.content-hover .block .info{
		position: relative;
		color:#666;
		padding: 5px 0;
		height: 65px;
	}
	.content-hover .price{
		background-color: rgba(255,255,255,.8);
		margin-left: 0;
		width: auto;
		left:0;
		bottom:75px;
		padding: 5px;
		margin-left: 0;
	}
	.content-hover .price .price-new,.content-hover .price .price-old{
		display: inline-block;
	}
	.content-hover .price .price-old{
		transform: scale(0.8);
	}
	/*導覽列*/
	header,header .container-fluid{
		height: 80px;
	}
	.purchase,
	section.productshow,
	section.productDetailShow,
	section.styleshow,
	section.activityshow,
	section.vrlive,
	.marginTop80-rwd{
		margin-top: 80px;
	}
	.navbar-light .navbar-brand{
		margin: 0 auto 10px;
	}
	button.navbar-toggler{
		position: absolute;
		top: 10px;
		left: 0;
		border:none;
		cursor: pointer;
	}
	button.navbar-toggler span{
		width: 25px;
	}
	#mainNav{
	    position: fixed;
	    background-color: #FDC5CD;
	    width: 100%;
	    top: 80px;
	    height: calc( 100vh - 100px );
	    padding: 5px;
	    display: none;
	}
	.nav-rwd{
		background-color: #fff;
	    width: 100%;
	    max-height: calc( 100vh - 80px );
	    overflow: auto;
	    position: fixed;
	    left: 0;
	    top: 80px;
	    -webkit-box-shadow:0 2px 5px rgba(30, 30,30, 0.15);
	    box-shadow: 0 2px 5px rgba(30, 30,30, 0.15);

	}
	.cart-rwd{
		display: block;
		color:#FDC5CD;
		position: absolute;
		top: 15px;
		right: 0;
	}
	.cart-rwd .cart-count-rwd{
		position: absolute;
	    top: 12px;
	    left: 4px;
	    color: #fff;
	    font-size: 12px;
	    width: 20px;
	    height: 20px;
	    text-align: center;
	}

	.nav-rwd ul{
		padding:0;
		margin: 0;
	}
	.nav-rwd ul li{
		list-style-type:none;
	}
	.nav-rwd ul li #searchForm-rwd{
		padding: 5px;
		border-bottom: 1px solid #ccc;
	}
	.nav-rwd ul li .searchAll-rwd{
		width:  calc( 100% - 40px );
	}
	.nav-rwd ul li a{
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		background-color: #fff;
		text-align: center;
		border-bottom: 1px solid #efefef;
		color :#999;
	}
	.nav-rwd .brandHover-rwd a{
		border: none;
		color:#666;
		border:1px solid #efefef;
		height: 30px;
	    line-height: 30px;
	    margin: 0 15px;
	    width: calc( 100% - 30px );
	    font-size: 12px;
	}
	.nav-rwd .brandHover-rwd{
		display: none;
		border-bottom: 1px solid #efefef;
		max-height: 300px;
    	overflow: auto;
	}

	.cartList-rwd{
		display: block;
	    position: fixed;
	    width:300px;
	    background-color: #fff;
	    top: 80px;
	    right: -110%;
	    padding: 10px;
		transition: .5s;
		-webkit-box-shadow: 2px 0 5px rgba(30, 30,30, 0.15), -2px 0 5px rgba(30, 30, 30, 0.15);
   	 	box-shadow: 2px 0 5px rgba(30, 30,30, 0.15), -2px 0 5px rgba(30, 30, 30, 0.15);
	}
	.orderListBox-rwd{
	    background-color: #fff   ;
	    font-size: 11px;
	    display: flex;
    	position: relative;
	}
	.cartItem-img-rwd{
		width: 50px;
		height: 50px;
	}
	.cartItem-desc-rwd{
		width: calc(100% - 70px);
	    overflow: hidden;
	    padding: 10px;
	}



	.v-signs {
		position: absolute;
	    width: calc(100% - 15px);
	    top: -35px;
	    left: 5px;
	    height: 30px;
	    -webkit-writing-mode: inherit;
	    writing-mode: inherit;
	    background-color: #f9f9f9;
	    line-height: 35px;
	    padding: 0px 10px;
	    letter-spacing: 10px;
	}
	#mainNav .navbar-nav{
		flex-direction: row;
	}
	.recommend.product-items{
		width: calc( 25% - 10px);
	}
	.brand-products .product-items{
		width: calc( 33% - 10px);
	}
	.brand-block .brand-logo{
		width:80%;
		padding-top: 80%;
	}
	.productshow .product-items{
		width: calc( 33% - 10px);
	}
	.productshow .brand-banner {
		height: 30vh;
	}
	section.productshow .brand-banner .banner-img{
		height: 40vh;
	}
	.main-menu_memSideBar{
		width: 50px;
	}
	.main-menu_memSideBar ul li a{
		font-size: 12px;
		text-align: center;
	}
	/*activity.php*/
	.readMore{
		padding-top: calc( 100% - 10px + 65px);
	}
}

@media screen and (max-width:767px){
	/*找商品 篩選選單 RWD*/
	.productshow .container{
		margin-top: 10px !important;
	}
	.priceSearch,.tagSearch{
		margin-bottom: 10px;
	}
	.priceSearch .form-check-label,.tagSearch .form-check-label{
		display: inline-block !important;
		vertical-align: top;
		width: 32%;
		letter-spacing: 0;
	}
	.sidebar{
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 10px;
	}
	.sidebar_block .sidebar_desc{
		margin-top: .5rem;
		padding: 0 5px;
	}
	.sidebar_block .sidebar_title{
		font-size: 12px;
	}

	/*品牌頁 RWD*/
	#brandsBtn-rwd{
		position: fixed;
	    display: block;
	    -webkit-writing-mode: vertical-lr;
	    writing-mode: vertical-lr;
	    background-color: rgba(255,200,207,.8);
	    padding: 5px;
	    color: #fff;
	    left: 0;
	    top: 80px;
	    z-index: 400;
	    cursor: pointer;
	}
	.promotBox {
	    display: inline-block;
	    width: 49%;
	}
	.sidebar  a{
		border: 1px solid #eee;
	    text-align: center;
	    margin-bottom: 5px;
	}
	.productshow.brands .sidebar{
		position: fixed;
	    width: 100%;
	    top: 80px;
	    left: -110vw; /*15px*/
	    background-color: #fff;
	    z-index: 500;
	    max-height: calc( 100vh - 80px );
	    overflow: auto;
	    -webkit-box-shadow: 0 2px 5px rgba(30, 30,30, 0.15);
   		box-shadow: 0 2px 5px rgba(30, 30,30, 0.15);
	}
	.productshow.brands .sidebar_title{
		display: none;
	}
	.cateSearch{
		margin-bottom: 10px !important;
	}
	#cancelBrandsButton-rwd{
		display: inline-block;
	}

	/*footer*/
	footer{
		height: auto;
	}
	footer .footer_logo,footer .footer_content{
		text-align: center!important ;
	}
	footer .footer_content{
		margin-top : 100px ; 
	}


	.content-hover > img{
		transform: none;
		-webkit-transform: none;
	}
	.recommend.product-items{
		width: calc( 33% - 10px);
	}
	.brand-products .product-items{
		width: calc( 50% - 10px);
	}
	.feature .product-items, #searchResult #searchResultBox .product-items{
		width: calc( 33% - 10px);
	}
	
	.brand-block .brand-logo{
		width:100%;
		padding-top: 100%;
	}
	.brand-block .brand-describe{
		line-height: 20px;
	}
	/*header .navbar-brand #logo{
		height: 45px;
	}*/
	/*#mainNav{
		    width: calc(100% - 100px);
	}*/
	/*#mainNav .navbar-nav .nav-link {
		font-size: 14px;
	}*/
	header .brandHover .hoverContent a{
		font-size: 10px;
		letter-spacing: 0px;
	}
	header .brandHover .navBrandImgCol{
		display: none;
	}
	
	
	td.orderBrand,td.orderVendor,td.orderSpec,td.orderCharge,td.orderCoupon,td.Qty-rwd ,td.orignPrice,thead#thead-rwd-hide ,#cartCheckList thead#thead-rwd-hide{
		display: none;
	}
	.orderQty{
		min-width: 70px;
	}
	.order-rwd{
		display: block;
	}
	.purchase .cartMenu .step li{
		font-size: 12px;
	    padding: 10px 0;
	    white-space: nowrap;
	}
	.purchase h3{
		font-size: 16px;
	}

	/*文章style.php*/
	section.styleshow .style-content .title{
		margin-top:10px;
	}
	section.styleshow .style-box:nth-of-type(2n){
		/*border-bottom: 1px solid #000;*/
	}

	/*activity.php*/
	.readMore{
		padding-top: calc( 10% );
	}
	.activity-banner-title{
		height: 16px;
		line-height: 16px;
		font-size: 16px;
		letter-spacing: 2px;
	}
	.activity-banner-title-background{
		top: 5px;
		-webkit-shape-outside: polygon(30px 0%,100% 0%,100% 100%, 0% 100%); 
		-webkit-clip-path: polygon(30px 0%,100% 0%,100% 100%, 0% 100%);
		width: calc( 100% + 30px + 40px + 10px );
	}

	/* vrLive.php */
	section.vrlive .vrlive-area{
		min-height: auto;
		height: calc( 100vh - 300px);
		min-height: 300px;
	}
}

@media screen and (max-width: 575px){
	.recommend.product-items,.feature .product-items,.productshow .product-items,.productshow.brands .product-items,#searchResult #searchResultBox .product-items{
		width: calc( 50% - 10px);
	}
	.brand-block .brand-logo{
		width:50%;
		padding-top: 50%;
	}
	.footer_logo .logo{
		width: 100px;
	}
	footer li{
		font-size: 12px;
	}
	.footer_logo .social-bottins img{
		width: 20px;
		margin-top: 5px;
	}
	
	#mainNav .navbar-nav .nav-link {
		font-size: 12px;
	}
	section.purchase .checkMember .firstShop{
		min-height: 140px;
    	border-right: 2px solid rgba(255,200,207,1);
	}
	
	.loginPanel{
		min-height: 100px;
    	border-top: transparent;
	}

	.purchase .checkMember .firstShop #firstShopTitle,.purchase .checkMember .loginPanel #loginTitle{
		font-size: 16px;
	}
	.purchase .checkMember .firstShop .firstShopInfo{
		margin:15px 0;
	}
	section.productDetailShow .product_content{
		padding: 0px;
	}
	.product_details_box  img{
		width: 100%;
	}
	.productshow .brand-banner {
		height: 20vh;
	}
	#myCarousel .carousel-item img{
		width: auto;
	    height: 200px;
	    position: relative;
	    left: 50%;
	    margin-left: -300px;
	}
	.carousel-item{
		overflow: hidden;
	}
	/*文章*/
	section.styleshow .article-history .history-pass .history-img .history-img-box{
		padding-top: 80%;
	}
}

