/* @override 
	http://test_tgilive.neplus.com.tw/css/tgilive.css */
/*====RWD=====*/
.nav-rwd,.cart-rwd,.cartList-rwd,#cancelBrandsButton-rwd,#brandsBtn-rwd{
	display: none;
}
/*====RWD=====*/

.font15{
	font-size: 15px !important;
}
.font14{
	font-size: 14px !important;
}

body{
	font-size: 12px;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
	color: #333333;
}
a{
	color: #f67f90;
}
/*a:hover {
	text-decoration: none;
	color: #FDC5CD;
}*/

button:focus{
	outline: none;
}
.btn-outline-success.focus, .btn-outline-success:focus{
	box-shadow: 0px 0px 0px 0.2rem rgba(225, 131, 149, 0.3);
}

.breadcrumb a:hover ,.promotBox a:hover{
	color: #ffffff;
	background-color: #FDC5CD;
	text-decoration: none;
}

.breadcrumb{
	border-radius:0px;
	background-color: rgba(255,200,207,.1);
	padding: 5px 20px;
	margin-bottom: 0px;
	font-size: 13px ;
}

.marginTop10{
	margin-top: 10px;
}
.marginTop82{
	margin-top: 82px;
}
.marginTop100{
	margin-top: 100px;
}
.marginBottom60{
	margin-bottom: 60px;
}
.img-fluid{
	width: 100%;
}
.no-content{
	min-height:calc(100vh - 330px);
}
/*---header----*/
header{
	font-size: 14px;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    height: 100px;
    transition: .5s;
    border-bottom: 3px solid #FDC5CD;
}
header .container-fluid {
	height: 100px;
}

header nav.navbar{
	padding: 0px;
	position: absolute;
	bottom: 0px;
	width: calc(100% - 30px);
}
header .navbar-brand {
	padding: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}

header .navbar-brand #logo{
	height: 55px;
	margin-right: auto;
}

header input.form-control.searchAll{
	border-radius: 0px ;
	width: 200px;
	color: #666;
	border-color: #f3f3f3;
	font-size: 12px;
	padding: 5px;
}
#mainNav {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: calc(100% - 150px);
	padding: 0px;
}
#mainNav .navbar-nav{
	margin-right: auto;
}
#mainNav .navbar-right{
	margin-right: inherit;
}
#mainNav .searchForm{
	margin-left: auto;
	margin-right: inherit;
}
#mainNav #searchForm,
.nav-rwd #searchForm-rwd{
	position: relative;
}
#mainNav .recommendTag-area ,
.nav-rwd .recommendTag-area{
    position: absolute;
    top: 30px;
    background-color: rgba(255,255,255,1);
    width: calc( 100% - 28px );
    height: auto;
    padding: 0 5px 5px 5px;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    text-align: left;
    font-size: 12px;
    visibility: hidden;
    z-index: 10;
}
.nav-rwd .recommendTag-area{
	width: 100vw;
	top:40px;
	left: 0;
}
.recommendTag-area-visible{
	visibility: visible !important;
}
#mainNav .recommendTag-area span.recommendTag-content,
.nav-rwd .recommendTag-area span.recommendTag-content {
    padding: 2px 0px;
    display: inline-block;
    margin: 5px 0 0 0;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}
.nav-rwd .recommendTag-area span.recommendTag-content a{
	border-bottom: none;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
}

#mainNav .navbar-nav .nav-link{
	padding: 0px 20px 0px 20px;
	font-size: 16px;
	margin-bottom: 10px;
}
#mainNav .navbar-nav .nav-item:hover > .nav-link{
	background-color: #FDC5CD;
	color: #ffffff;
	font-weight: 100;
	border-radius:20px;
}
#mainNav .searchIcon{
	color: #999999;
}
#mainNav .form-inline {
margin-right: 20px;	
margin-bottom: 5px;
}
header #mainNav #searchAllButton,header #searchAllButton-rwd,header #cancelButton-rwd,header #cancelCartButton-rwd,#cancelBrandsButton-rwd{
	background-color: transparent;
    height: 30px;
    border: transparent;
    cursor: pointer;
}
header #mainNav #searchAllButton:hover{
	background-color: #FDC5CD;
}
header #mainNav #searchAllButton:hover .searchIcon{
	color:#fff;
}


header .brandHover{
	width: 100%;
    padding-top: 10px;
    position: fixed;
    top: 70px;
    left: 0;
    -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in; 
    transition: top .3s ease-out;
}
header .brandHoverAct:hover > .brandHover{
	visibility: visible;
    opacity: 1;
    top: 90px;
}
header .brandHoverAct:hover > a{
	background-color: #FDC5CD;
    color: #ffffff;
    font-weight: 100;
}
header .brandHover .hoverContent{
	width: 100%;
    background-color: rgba(255,255,255,.95);
    padding: 20px 0;
}
header .brandHover .hoverContent a{
	color:#444;
	display: block;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 1px;
	padding: 8px 0px;
	text-align: left;
}
header .brandHover .navBrandImgCol{
	border-left: 1px solid #FDC5CD;
}
header .brandDetail > a:hover{
	color: #fb99a7;
	text-decoration: none;
}
header img.imgbrand{
	-webkit-filter: drop-shadow(3px 3px 3px rgba(255, 255,255, .3));
    filter: drop-shadow(3px 3px 3px rgba(255, 255,255, .3));
}
header #login,header #logout,header #memCenter{
	cursor: pointer;
}

header #memCenter{
	position: relative;
}
header #memCenter #logoutPannelBox{
	position: absolute; 
	top: 15px;
    padding: 5px 0;
    visibility: hidden;
    opacity: 0;
    transition: top .3s ease-out;
}
header #memCenter #logoutPannelBox #logoutPannel{
	list-style-type: none;
    padding: 10px;
    width: 82px;
    background-color: #fff;
    left: 0px;
    top: 30px;
    text-align: left;
    color: #fff;
    -webkit-box-shadow: 2px 0 5px rgba(30, 30,30, 0.15), -2px 0 5px rgba(30, 30, 30, 0.15);
    box-shadow: 2px 0 5px rgba(30, 30,30, 0.15), -2px 0 5px rgba(30, 30, 30, 0.15);
    height: auto;
    font-size: 12px;
}
header #memCenter #logoutPannel a{
	color: #666;
    letter-spacing: 1px;
    line-height: 20px;
    display: block;
    padding: 5px;
}
header #memCenter #logoutPannel a:hover{
	color: #ffffff;
    background-color: #FDC5CD;
    text-decoration: none;
}

header #memCenter:hover #logoutPannelBox{
		top:35px;	
		opacity: 1;	
		visibility: visible;
}

header #cartArea:hover .cartCheck{
	top:35px;	
	opacity: 1;	
	visibility: visible;
} 
header #cartArea .cartCheck #checkoutButton:hover{
	color: #fff;
    background-color: #FDC5CD;
    border-color: #FDC5CD;
}
header #cartArea{
	position: relative;
}
header #cartArea #cartListCount{
	width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FDC5CD;
    text-align: center;
    line-height: 20px;
    color: #fff;
    position: absolute;
    top: -18px;
    left: -12px;
    font-size: 12px;
}
header #cartArea #cartListCount:after{
	content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 7px;
    border-bottom: 0px solid #ccc;
    border-left: 7px solid #FDC5CD;
    border-radius: 0 0 0 100%;
    bottom: -5px;
    left: 7px;
}
header #cartArea .cartCheck{
	position: absolute;
	width: 300px;
	top: 15px;
	right:0px;
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in; 
    transition: top .3s ease-out;
}
header #cartArea .cartCheck .cartCheckBox{
	padding: 15px;
	background-color: #fff;
	-webkit-box-shadow: 2px 0 5px rgba(30, 30,30, 0.15),-2px 0 5px rgba(30, 30, 30, 0.15);
    box-shadow: 2px 0 5px rgba(30, 30,30, 0.15),-2px 0 5px rgba(30, 30, 30, 0.15);
    font-size: 11px;
}
header #cartArea .cartCheck #checkoutButton{
	color:#FDC5CD;
	border-color: #FDC5CD;
	transition: .15s ease-in-out;
}
header #cartArea .cartCheck #checkoutButton:focus{
	box-shadow: none;
}
header #cartArea .cartCheck .cartCheckBox .orderListBox{
	display: flex;
	position: relative;
}

header #cartArea .cartCheck .cartCheckBox .orderListBox .cartItem-img{
	height: 70px;
	width: 70px;
}

header #cartArea .cartCheck .cartCheckBox .orderListBox .cartItem-desc{
	width: calc(100% - 70px);
	overflow: hidden;
	padding: 10px;
}

header #cartArea .cartCheck .cartCheckBox .orderListBox .cartItem-desc .cartItem-subtitle{
	color: #999;
}
header #cartArea .cartCheck .cartCheckBox .orderListBox .cartItem-desc .cartItem-specInfo{
	color:#db363d;
}

header #cartArea .cartCheck .cartCheckBox .orderListBox .cartItem-desc a{
	color: #666;
	white-space: nowrap;
}

/*-----loginBox----*/
/*--置中---*/
#loginBox .modal-dialog{
	-webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50vh;
    margin: 0 auto;
    max-width: 320px;
}
#loginBox .modal-header{
	background-color: #FDC5CD;
	border-bottom:0;
}
#loginBox .modal-header .loginTitle{
	margin: auto;
	color: #fff;
}
#loginBox .modal-header .loginTitle > span{
	font-size: 30px;
    font-weight: 1000;
    text-transform: uppercase;
}
#loginBox .modal-body{
	padding-left: 45px;
	padding-right: 45px;
} 
#loginBox .modal-body .form-group{
	position: relative;
	text-align: center;
}
#loginBox .modal-body .form-group .login-username-describe,#loginBox .modal-body .form-group .login-password-describe{
	color:#ccc;
}
#loginBox .modal-body form input{
	outline: none;
    border-radius: 0;
    width: 100%;
    margin-right: 10px;
    padding: 6px 10px;
    color: #333;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    margin-bottom: 18px;
}
#loginBox .modal-body form .label-custom{
	font-size: 14px;
    font-weight: 300;
    color: #aaa;
    position: absolute;
    top: 30px;
    right: 0;
    width: 100%;
    cursor: text;
    transition: all 0.4s;
    cursor: default;
}
#loginBox .modal-body form .label-custom.active{
	top: 0px;
	color:#db363d;
	font-size: 16px;
    font-weight: 500;
}
#loginBox .modal-body button.btn-primary ,section.registerShow #registerConfirmButton{
	background-color:  #FDC5CD;
	border-color:  #FDC5CD;
	transition: .3s;
	cursor: pointer;
}
#loginBox .modal-body button.btn-primary:focus ,section.registerShow #registerConfirmButton:focus{
	outline: none;
	box-shadow: none; 
}
#loginBox .modal-body button.btn-primary:hover ,section.registerShow #registerConfirmButton:hover{
	background-color:  #fff;
	color:#FDC5CD;
}
#loginBox .modal-body .login-username-describe,#loginBox .modal-body .login-password-describe{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	cursor: default;
}


/*----banner----*/
#myCarousel {
	display: block;
	max-width: 100%;
	width: 100%;
}

#myCarousel .carousel-item img{
	width: 100%;
}

.add-cart {
	display: none;
}
.container .row{
	position: relative;
}
/*----v-signs----*/
.v-signs {
	position: absolute;
	width: 40px;
	top: 5px;
	left: -45px;
	height: calc(100% - 10px);
	display: block;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr ;
	background-color: #eee;
	line-height: 40px;
	padding: 20px 0px;
	font-size: 14px;
	letter-spacing: 10px;
	color:#e58c9d;
}
.v-signs span{
	font-size: 12px;
	float: right;
	color: #aaaaaa;
	letter-spacing: 1px;
}
.recommend.product-items {
	width:calc( 16.66% - 10px);
}
.product-items {
	width:100%;
	margin: 5px;
	border: 1px solid #eee;
}
section {
	margin-bottom: 40px;
}

/*------section brand-----*/
.brand-block{
	margin: 5px 0px 5px 0px;
	/*background-color: #f8f8f8;*/
}
.brand-block .brand-logo{
	width: 50%;
	padding-top: 50%;
	margin: 10% auto 0;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.90);
}
.brand-block .brand-logo-content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.brand-block .brand-describe {
	color: #888;
	letter-spacing: 2px;
	line-height: 25px;
}

.brand-products .product-items{
	width:calc( 25% - 10px);
}

.productshow.brands .product-items{
	width:calc( 33% - 10px);
}

.productshow .product-items{
	width:calc( 25% - 10px);
}


/*-------result.php-----*/
#searchResult{
	min-height: calc( 100vh - 310px );
}
.feature .product-items,#searchResult #searchResultBox .product-items{
	width:calc( 25% - 20px);
}
.feature .header{
	text-align: center;
	margin: 40px 0px;
}
.feature h4, #searchResult h4{
	font-size: 16px;
	letter-spacing: 5px;
	color:#FDC5CD;
	margin-bottom: 0;
}
#searchResultBox-none .alert{
	height:130px;
	width: 350px;
	position: relative;
	left: 50%;
	margin-left: -175px;
}
#searchResult #searchResultBox-none .alert .alert-title{
	width: 150px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 20px;
    color: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    margin: auto;
    overflow: hidden;
}
#searchResult #searchResultBox-none .alert .alert-title:after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: #f8d7da;
	position: absolute;
	top: 0;
	left: 0;
    animation: title .5s 1s 1 forwards;
}
#searchResult .feature h5{
	border-bottom: 1px solid #FDC5CD;
    padding: 10px 0;
    color: #FDC5CD;
    font-size: 16px;
    letter-spacing: 10px;
}
#searchResult #searchResultBox-none .cross{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	bottom: 0;
	left:40px;
	margin: auto;
	border-radius: 50%;
	border: 5px solid #fff;
	animation: crossCircle .5s 1 forwards;
	transform-origin: 50% 50% ;
}
#searchResult #searchResultBox-none .cross .left,#searchResult #searchResultBox-none .cross .right{
	position: absolute;
    width: 95%;
    height: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	background-color: #fff;
	border-radius: 20px;	
	transform-origin: 50% 50% ;
	animation: cross .5s .5s 1 both ;
}
#searchResult #searchResultBox-none .cross .left{
	transform: scaleX(1) rotateZ(45deg);
}
#searchResult #searchResultBox-none .cross .right{
	transform: scaleX(1) rotateZ(-45deg);
}
@keyframes crossCircle {
		 0%{transform: rotateX(90deg);}
		100%{transform: rotateX(0deg);}
} 
@keyframes cross {
		 0%{width: 15%; opacity: 0;}
		 5%{opacity: 1;}
		100%{width: 90%;opacity: 1;}
} 
@keyframes title {
		 0%{left:0;}
		100%{left:100%;}
} 
/*------section index4-----*/
section.index4 .feature{
	background-color: #efeff0;
	padding: 10px 50px;
}

section.index4 .feature h4 span{
	font-size: 12px;
	letter-spacing: 1px;
	color:#999;
}
section.index4 .feature-stuff{
		margin-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}


/*----hover-----*/
.content-hover{
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.content-hover > img{
	-webkit-transform: scale3d(1, 1, 1);
          	transform: scale3d(1, 1, 1);
	transition: 1s;
}
.content-hover .block{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(255,200,207,.7);
	opacity: 0;
	width: 95%;
	height: 95%;
	transition: .2s;
	z-index: 2;
}
.content-hover .block .info{
	color:#fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
	margin: auto;
	font-weight: 400;
}
.content-hover .price{
	background-color: #fff;
	padding:10px 0;
	width: 130px;
	position: absolute;
	z-index: 2;
	bottom: -70px;
	left: 50%;
	margin-left: -65px;
	transition: .5s;
}
.content-hover .add-cart{
	width: 50px;
	height: 50px;
	position: absolute;
	/*background-color: rgba(255,200,207,.7);*/
	top: 0;
	right: 0;
	transition: .3s;
	z-index: 2;
}
.content-hover .add-cart img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.content-hover .add-cart{
	cursor: pointer;
}
/*.product-items:hover .block{
	opacity: 1;
}
.product-items:hover .content-hover .price {
	bottom: 0;
}
.product-items:hover .content-hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1);
	      	transform: scale3d(1.1, 1.1, 1);
}*/


/*register.php*/
section.registerShow{
	height: calc(100vh - 248px);
    min-height: 620px;
}
section.registerShow .registerBox{
	max-width: 900px;
	padding:20px 50px;
}
.form_focus{
	vertical-align: sub;
    color: #f00;
}



/*-----gotop----*/
.gotop{
	width: 40px;
	height: 40px;
	background-color:rgba(255,200,207,1);
	position: fixed;
	bottom: 18%;
	right: 5%;
	z-index: 10;
	display: none;
	color: #fff;
	text-align: center;
}
.page-item.active .page-link{
	background-color:#FDC5CD;
	border-color:#FDC5CD;
}
.page-link{
	color:#FDC5CD;
	border-color: #FDC5CD;
}
.page-item.disabled .page-link{
	color: #eee;
	border-color: #eee;
}
.page-link:hover{
	color: #fff;
	background-color:#edabb5;
}

/*memcenter.php*/
.main-menu_memSideBar{
	background-color: #f67f90;
    width: 200px;
    position: fixed;
    top: 100px;
    left: 0;
    height: 100%;
    z-index: 0;
}
.memcenter{
	/*margin-left:200px;
	width: calc( 100% - 200px );*/
	min-height: calc( 100vh - 248px );
}
.main-menu_memSideBar ul li a{
	font-weight: 300;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 12px;
    display: inline-block;
    background-color: #f67f90;
    font-size: 16px;
    transition: all 0.3s;
}
.main-menu_memSideBar ul > li:nth-of-type(1),.main-menu_memSideBar ul > li:nth-of-type(2){
	border-top: 1px solid #fff;
}
.main-menu_memSideBar ul > li:nth-of-type(2){
	border-bottom: 1px solid #fff;
}
.main-menu_memSideBar ul li a.active{
	background-color: rgba(253,189,198,1);
	color:#fff;
}
.main-menu_memSideBar ul li a:hover {
	 background-color: rgba(253,189,198,1);
	color:#fff
}
.memcenter .shop-history a.detailBtn,.memcenter .shop-history a.rePay{
	padding: 5px;
	border:1px solid ;
	display: inline-block;
	color:rgba(253,189,198,1);
}
.memcenter .shop-history a.rePay{
	color:#db363d;
}
.memcenter .shop-history .line{
	background-color: #f67f90;
	width: 100%;
	height: 1px;
	margin:10px 0;
}
.memcenter .shop-history.card{
	margin-bottom: 10px;
}
.memcenter .shop-history.card .card-header{
	background-color: #fff;
	color:#666;
}
.memcenter .shop-history.card .orderDtailBox{
	background-color: rgba(0,0,0,.05);
}

/*activity.php*/
section.activityshow{
	min-height: calc( 100vh - 440px );
}
.activity-banner{
	width: 100%;
	height: 0px;
	padding-top: 30%;
	background-color: #ccc;
	margin: 0 5px 5px 5px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center ;
}
.activity-banner-title{
	position: absolute;
	height: 30px;
	line-height: 30px;
	bottom:30px;
	right:30px;
	font-size: 30px;
	letter-spacing: 5px;
	font-weight: 400;
	text-shadow: 2px 2px 10px rgba(0,0,0,.1);
	color:#fff;
	z-index: 1;
}
.activity-banner-title > span{
	opacity: 0;
}
.activity-banner-title-background{
	content:'';
	display: block;
	background-color: rgba(253,189,198,.8);
	position: absolute;
	width: calc( 100% + 30px + 75px + 10px );
	height: 100%;
	top:15px;
	left: calc( 100% + 30px);
	z-index: -1;
	-webkit-shape-outside: polygon(60px 0%,100% 0%,100% 100%, 0% 100%); 
	-webkit-clip-path: polygon(60px 0%,100% 0%,100% 100%, 0% 100%);
}
.readMore{
	width: calc( 100% - 10px );
	height: 0px;
	padding-top: calc( 100% - 10px );
	margin: 5px ;
	position: relative;
	cursor: pointer;
}	
.readMore-box{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,200,207,1);
	top: 0;
	color:#fff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.readMore-box .lineUp,.readMore-box .lineDown{
	width: 0%;
	height: 5px;
	background-color: rgba(255,200,207,1);
	position: absolute;
}
.readMore-box .lineUp{
	top: 10%;
}
.readMore-box .lineDown{
	bottom: 10%;
}
.readMore-box .lineRight,.readMore-box .lineLeft{
	width: 5px;
	height: 0%;
	background-color: rgba(255,200,207,1);
	position: absolute;
}
.readMore-box .lineRight{
	right: 10%;
}
.readMore-box .lineLeft{
	left: 10%;
}

/* vrLive.php */
section.vrlive{
	min-height: calc( 100vh - 440px );
}
section.vrlive .vrlive-area{
	width: 100%;
	height: 80vh;
    min-height: 625px;
    background-color: #ccc;
	margin: 5px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*----footer-----*/
footer{
	color:#595757;
	padding: 30px 0;
	height: 300px;
	background-color: #efefef;
	position: relative;
	
}
.footer_logo{
	font-size: 10px;
    letter-spacing: 0px;
    color: #999;
}
.footer_logo .logo{
	width: 150px;
	margin: 10px 0px;
}
.footer_logo .social-bottins{
	margin: 10px 0px;
}
.footer_logo .social-bottins img{
	width: 25px;
	margin: 10px 0px 0px 5px;
}

footer li{
	list-style: none;
    margin: 10px 0px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 300;
}
footer li a{
	color: #787878;
	padding: 5px;
}
footer li a:hover{
	background-color: #787878;
	color: #fff;
}
.pages {
	margin-top:100px;
	color: #777777;
	min-height: calc(100vh - 440px);
}
.pages .container{
	margin-top:40px;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 30px;
}
.pages .container h3{
	color: #f67f90;
}

.pages .row{
	display: block;
}

.pages .subtitle{
	margin: 30px 0px 15px 0px;
	font-size: 20px;
	color: #444444;
}
.pages .container li{
	margin: 10px;
}

.pages .container .highlight{
	color: #f95b5b;
}

.pages p{
	margin: 15px 0px;
}
