/*共用左邊導覽按鈕*/
nav.side-navbar li.active a{
	background: #db363d;
}
nav.side-navbar a:focus, nav.side-navbar a:hover, nav.side-navbar a[aria-expanded="true"],nav.navbar a.menu-btn:hover{
	background: #db363d;
}
nav.side-navbar li ul.collapse a{
	border-color: #db363d;
}
.text-primary{
	color:#db363d !important;
}
/*datatable 共用*/
div.dt-buttons{
	margin:0 0 10px 10px;
}
div.dt-buttons button.dt-button{
	margin-bottom: 0;
	padding: 2px 10px ;
}

/*====login.php=====*/

.form-inner{
	margin:0 auto;
}
.form-inner .logo{
	 padding: 0 50px 15px; 
}
.card{
	font-size: 12px;
}
   
/*=====index.php======*/
section.index1 .card-header{
	background-color: #fff;
}
#orderServerTable-index_paginate .paginate_button,
#viewsServerTable-index_paginate .paginate_button,
#stockServerTable-index_paginate .paginate_button{
	padding: 0 !important;
}
#orderServerTable-index_length,
#orderServerTable-index_filter,
#memberServerTable-index_length,
#memberServerTable-index_filter,
#memberServerTable-index_info,
#memberServerTable-index_paginate,
#viewsServerTable-index_filter,
#viewsServerTable-index_length,
#stockServerTable-index_filter,
#stockServerTable-index_length,
#exportTable-sale_filter,
#exportTable-sale_info,
#exportTable-sale_paginate,
#exportTable-sale{
	display: none;
}
#exportTable-sale_wrapper .dt-buttons{
	margin: 0;
    position: absolute;
    top: -35px;
}
#orderServerTable-index th,
#memberServerTable-index th,
#viewsServerTable-index th,
#stockServerTable-index th{
	border-top:none ;
}
/*====amChart====*/
#chartdiv{
	width: 100%;
	height: 400px;
	/*background-color: #ccc;*/
}
.amcharts-graph-g1 .amcharts-graph-fill {
  filter: url(#blur);
}
.amcharts-graph-g2 .amcharts-graph-fill {filter: url(#blur);
}
.amcharts-cursor-fill {
  filter: url(#shadow);
}		
#chartdiv a{
	display: none!important;
}	
#chartdiv .amcharts-chart-div > svg > g:nth-of-type(1) > path:nth-of-type(2){
	fill:#ccc;
	fill-opacity:1;
} 
#from,
#to,
#from-history,
#to-history{
	width: 100px;
}

/*====member.php======*/
/*====administrator.php======*/
		/*----datatable----*/
span[class="edit"]{
	padding: 0 5px;
}
span[class="edit"] button{
	border-radius: 5px;
	transition: .5s;
}
span[class="edit"] button:hover{
	background-color: #ccc;
	color:#fff;
}
input[type='search']{
	border-radius: 10px;
    padding: 0 5px;
}
input[type='search']:focus,span[class="edit"] button:focus{
	outline: none;
}
.demo .member thead tr th:nth-of-type(8){
	min-width: 120px;
}
.demo{
	margin: 15px;
}


/*======bootstrap switch======*/
.switchButtonColor .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,.switchButtonColor .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary{
	background-color: rgba(241,47,54,1);
}


/*====administrator.php======*/
#createBox{
	text-align: right;
}
#createBox #createAdmin{
	border-radius: 5px;
}
#createBox #createAdmin:focus,.adminCreateBox table td input:focus{
	outline: none;
}

#exampleModal div[class*="col-"],#tagEditModel div[class*="col-"]{
	margin: 0px;
}


/*=====memberEdit.php======*/
section.charts .card .card-header .EditTitle{
	margin: 0;
}
section.charts .card div[class*="col-"],section.charts .modal div[class*="col-"]{
	margin: 0px;
}
   /*=====欄位間距=====*/
.memberEdit .form-group ,.administratorEdit .form-group{
	margin-bottom: 0;
}   



/*=========tag.php category.php categoryActivity.php=======*/
.charts .space{
	margin:0 10px;
}
.charts .paging{
	color: #ccc;
	font-size: 14px;
}
.category .card,.activity .card{
	padding: 15px;
	height: auto;
}
.cresateBar{
	margin-bottom: 30px;
}
.cate-level{
	margin:5px 0;
}
.catebox .card-body{
	padding-left: 20px;
}
.catebox .line{
	width: 100%;
    height: 1px;
    border-bottom: 1px dashed #eee;
    margin-bottom: 30px;
}
.catebox .cateImg{
	margin-right: 20px;
	width: 2em;
}
#cateEditModel .line{
	width: 100%;
    height: 1px;
    border-bottom: 1px dashed #eee;
    margin-bottom: 1em;
}
.card-header{
	background-color:rgba(0,0,0,.05);
}
.card-header h5 a{
	color:#666;
}
.card-header h5{
	line-height: 2;
}
.card-header h5 i{
	margin-right: 20px;
	transition: 0.3s;
	transform: rotateZ(-90deg);
}
.card-header h5 a .angleRight{
	transform: rotateZ(0deg)
}
/*tag分頁*/
.category .nav-tabs{
	border-bottom: none;
}
.category .nav-tabs .taggroup.active{
	border-color: transparent;
}
.category table.tagGroupTitle th{
	border-bottom: none;
}
.category #tagGroup #accordion .tag_group_box{
	margin-bottom: 20px;
}
.tag_group_box .tagSelect,#cateTagEditModel .tagSelect,#tagArticle .tagSelect{
	padding:5px 10px ;
	background-color: rgba(0,0,0,.3);
	margin:5px;
	color:#fff;
}
#cateTagEditModel .tagSelect{
	cursor: pointer;
}
#cateTagEditModel .tagSelect.active{
	background-color: #db363d;
}

/*=====tag model====*/
#tagEditModel .form-group{
	margin-bottom: 0;
}
#tagEditModel .box,#cateEditModel .box{
	line-height: 38px;
}


/*======product.php========*/
#productSelects,#cateSelects,#productStatus{
	width: 150px;
	display: inline-block;
	vertical-align: middle;
}
/*#cateSelects{
	margin-right: 30%;
}*/
#productSelectNone,#productSelectConfirm{
	margin: 0 10px;
}
section.charts .product .demo .productSelectBox{
	margin-bottom: 10px;
}


.imgShow{
	margin: 10px 0;
}

/*=======productEdit.php=======*/
/*關閉左上方的summernote選單*/
.popover{
	display: none;
}


/*========order.php========*/
.order{
	font-size: 12px;
}
.order .nav-tabs{
	border-bottom: none;
}
.order .nav-tabs .active{
	border-color:#fff;
}
.order #orderStatusSelects ,.order #orderStatusHistorySelects{
	width: 150px;
	display: inline-block;
	vertical-align: middle;
}
section.order button#timeZoneConfirm-order,
section.order button#timeZoneConfirm-order-history{
	padding: 2px 10px;
    font-size: 12px;
}

/*========orderEdit.php========*/
section.orderEdit span{
	color:#666;
}

/* ==========banner.php========= */
.indexgroup.active{
	border-color:transparent !important;
}
.indexBrand{
	box-shadow: none;
	border: .5px solid #efefef;
}
.indexBrand .card-header{
	background-color: rgba(219, 54, 61,.8);
	color:#fff;
}
.indexBrand .brandProduct{
	padding: 5px 10px;
    background-color: rgba(0,0,0,.3);
    margin: 5px;
    color: #fff;
}
.selectBrandBtn{
	margin : auto 0 auto 10px;
}

.buttonDisabled{
	background-color: #ccc !important;
    border-color: #ccc !important;
    cursor: inherit;
}
.demo .line{
	width: 100%;
    height: 1px;
    border-bottom: 1px dashed #eee;
    margin-bottom: 30px;
}
